.prize-label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.light-text {
    color: grey;
}

.square-img {
    height: 170px;
    width: 170px;
}

.square-img img {
    max-width: 100%;
    max-height: 100%;
}